  /* Global Styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:  "Open Sans", Arial, sans-serif;
  }
  /* all h1 */
h1{
  color: black;
}
        
  /* scrollable-container */
.scrollable-container {
  position: fixed; 
  width: 300px; 
  height:  623.077px;
  overflow-y:auto;
  overflow-x: auto ;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  border-right: #9b9b9f 3px solid;
  top: 10%;
  
          
}
/* h1 js document */
div h1{
  position: fixed;
  padding: 12px 43px 57px 20px;
  letter-spacing: 0;
  font-size: 28.8px;
  height: 42.3px;
  font-weight: 70;
  background-color: white;
  top: 0;
  border-right: #9b9b9f 3px solid;
  
  
}
/* span /js */
.js {
  padding: 15px;
  color: #504f5c;
     
}
/* section */
section{
  overflow-y:auto;
  overflow-x:hidden;
  margin-bottom: 2%;
  margin-top: 2%;
}
/* section/h1 */
section h1{
  margin-left: 26%;
  font-size: 30px;
  font-weight: 70;
}

/* paragraphs */
p{
  max-width: 925px;
  margin: 0 2% 0 27%;
  text-wrap: wrap;
  color: #504f5c;
}
/* list */
li{
  margin-left: 30.5%;
  color: #504f5c;
  max-width: 850px;
      
}
/* div codes */
#codes{
  margin: 0 2% 0 27.5%;
  background-color: #f7f7f7;
  padding:15px 0 15px 15px;
  border-radius: 4px;
  color: #504f5c;
  font-family: monospace;
  font-size: 12.4px;
}
/* circle */
li[type="circle"]{
  margin-left: 35.5%;
}
